@charset "utf-8";

//TODO create cycle

@mixin respond-to($media) {
    @if $media == sm {
        @media only screen and (max-width: $sm){ @content; }
    }
    @if $media == smm {
        @media only screen and (max-width: $smm){ @content; }
    }
    @else {
        @media only screen and (max-width: $media){ @content; }
    }
}

.col-1-12, .col-2-12, .col-3-12, .col-4-12, .col-5-12, .col-6-12, .col-7-12, .col-8-12, .col-9-12, .col-10-12, .col-11-12, .col-full {
    float:left;
    height: inherit;
}

.col-1-12 {width: $colWidth;}
.col-2-12 {width: $colWidth * 2;}
.col-3-12 {width: $colWidth * 3;}
.col-4-12 {width: $colWidth * 4;}
.col-5-12 {width: $colWidth * 5;}
.col-6-12 {width: $colWidth * 6;}
.col-7-12 {width: $colWidth * 7;}
.col-8-12 {width: $colWidth * 8;}
.col-9-12 {width: $colWidth * 9;}
.col-10-12 {width: $colWidth * 10;}
.col-11-12 {width: $colWidth * 11;}
.col-full {width: $colWidth * 12;}

.offset-1-12 {margin-left: $colWidth;}
.offset-2-12 {margin-left: $colWidth * 2;}
.offset-3-12 {margin-left: $colWidth * 3;}
.offset-4-12 {margin-left: $colWidth * 4;}
.offset-5-12 {margin-left: $colWidth * 5;}
.offset-6-12 {margin-left: $colWidth * 6;}
.offset-7-12 {margin-left: $colWidth * 7;}
.offset-8-12 {margin-left: $colWidth * 8;}
.offset-9-12 {margin-left: $colWidth * 9;}
.offset-10-12 {margin-left: $colWidth * 10;}
.offset-11-12 {margin-left: $colWidth * 11;}

.row {
    width: 100%;
    display: inline-block;
}