@charset "utf-8";

$imgs: '../images/'; 

$white: #ffffff;
$black: #000000;

$colWidth: 100 / 12 * 1%;

$header-height: 80px;

$row-height: 50px;
$grid-gutter: 20px;

$color-teal: #009688;
$color-indiegogo: #eb1478;
$color-indiegogo-hover: #fa1681;

//forms
$border-color: #dedede;
$input-bg: #fafafa;

$text-muted: #c3c3c3;