@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700,400italic,400,300italic,600italic);

@import "reset";
@import "variables";
@import "grid";


html, body {
	height: 100%;
	width: 100%;
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;	
	&:hover {
		border-bottom: 2px solid $white;
	}
}

b {
	font-weight: 700;
}

h1 {
	font-size: 48px;
	font-weight: 700;
}

h2 {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
}

h3 {
	font-size: 18px;
	font-weight: 700;
}

.wrapper {
	max-width: 960px;
	min-width: 960px;
	margin: 0 auto;
}

.main {
	height: auto;
	width: 100%;
	background-image: url(#{$imgs}mainbg.jpg);
	background-size: cover;
	color: $white;

	.description {
		font-size: 24px;
		text-align: center;
		width: 80%;
		margin:  0 auto;
		margin-bottom: $row-height / 2;
	}

	.video {
		margin-bottom: $row-height / 2;
	}

	.contribute {
		padding-bottom: $row-height;
	}
	.avaliable {
		text-align: center;
		font-style: italic;
		margin-bottom: $row-height / 10;
	}

	.contribute-button {
		display: block;
		height: 40px;
		width: 328px;
		text-align: center;
		margin: 0 auto;
		text-transform: uppercase;
		color: $white;
		background-color: $color-indiegogo;
		line-height: 40px;
		font-weight: 700;
		border: none;
		margin-bottom: $row-height / 5;
		&:hover {
			background-color: $color-indiegogo-hover;
		}
	}

	.indiegogo {
		background-image: url(#{$imgs}indiegogo.png);
		background-size: 95px 15px;
		width: 95px;
		height: 15px;
		margin: 0 auto;
	}
}

.video {
	width: 634px;
	margin: 0 auto;	
}

.name-1 {
	font-weight: 700;
	.name-2 {
		color: $color-teal;
	}
}

.header {
	padding-top: $row-height;
	margin-bottom: $row-height;
}

nav {
	line-height: $header-height;
	text-align: right;
	font-weight: 600;
	ul {
		li {
			display: inline;
			margin-left: $grid-gutter;
			a {
				color: $white;
			}
		}
	}
}

.logo {
	width: 250px;
	height: $header-height;
	background-image: url(#{$imgs}logo.png);
	background-size: 100%;
}

.title {
	text-align: center;
	margin-bottom: $row-height / 2;
}

//--------------------------------- Our Mission ------------//

.our-mission {
	height: auto;
	width: 100%;
	margin-top: $row-height;

	.description {
		width: 60%;
		text-align: center;
		margin: 0 auto;
		margin-bottom: $row-height / 2;
	}

	.girl-img {
		width: calc(100% - 20px);
		height: 458px;
		background-image: url(#{$imgs}girl.jpg);
		background-size: 100%;
	}

	.text {
		background-color: $color-teal;
		margin-bottom: -4px;
		padding: 50px;
		color: $white;
		h3 {
			margin-bottom: 10px;
			&:last-of-type {
				margin-top: 30px;
			}
		}
		p {
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
}

.quote {
	width: 100%;
	background-color: $color-teal;
	color: $white;
	font-size: 40px;
	font-weight: 300;
	font-style: italic;
	padding-top: $row-height;
	padding-bottom: $row-height;

	.text {
		&:before {
			content: '"';
			display: block;
			position: absolute;
			left: -20px;
		}
	}

	.author {
		text-align: right;
		font-size: 25px;
		margin-top: 15px;
	}
}

//----------------------How It Works-----/
.how-it-works {
	margin-top: $row-height;

	h2 {
		margin-bottom: $row-height / 2;
	}

	.undercaption {
		font-style: italic;
		text-align: center;
		width: 65%;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: $row-height;
	}
	.pic {
		width: 100px;
		height: 100px;
		background-size: 100%;
		margin: 0 auto;
		&.play {
			background-image: url(#{$imgs}pic1.svg);
		}
		&.social {
			background-image: url(#{$imgs}pic2.svg);
			width: 198px;
		}
		&.data {
			background-image: url(#{$imgs}pic3.svg);
			width: 105px;
		}
	}
	.text {
		width: 50%;
		text-align: center;
		margin: 0 auto;
		margin-top: $row-height / 2;
		margin-bottom: $row-height / 2;
	}
}

.team {
	margin-top: $row-height;	
	margin-bottom: $row-height;
	text-align: center;
	.description {
		width: 60%;
		text-align: center;
		margin: 0 auto;
		margin-top: $row-height / 2;
		margin-bottom: $row-height / 2;
	}
	.row {
		&.main-team {
			margin-bottom: $row-height;
			.name {
				margin-top: $row-height / 2;
			}
		}
	}
	.avatar {
		display: block;
		width: 200px;
		height: 200px;
		background-size: 100%;
		margin: 0 auto;
		&.jen {
			background-image: url(#{$imgs}jennifer.png);			
		}
		&.sharon {
			background-image: url(#{$imgs}sharon.png);
		}
		&.david {
			background-image: url(#{$imgs}david.png);
		}
	}
	.name {
		text-transform: uppercase;
		font-weight: 700;
		margin-top: $row-height / 1.5;
		margin-bottom: $row-height / 2;
	}
	.post {
		font-style: italic;
		margin-bottom: $row-height / 2;
	}
	.col-4-12 {
		padding-left: 5px;
		padding-right: 5px;
		&.offset {
			height: 1px; //hack
		}
	}
	.consult {
		margin-top: $row-height;
	}
}

.contact {
	margin-top: $row-height;
	margin-bottom: $row-height;
	h2 {
		margin-bottom: $row-height / 2;
	}
	input {
		width: 100%;
		height: $row-height / 1.5;
		margin-bottom: $row-height / 5;
		padding-left: 10px;
		padding-right: 10px;
		border: 1px solid $border-color;
		background-color: $input-bg;
		transition: background-color 0.5s ease;
		&:focus {
			background-color: $white;
			transition: background-color 0.5s ease;
		}
		&[type=submit] {
			font-size: 16px;
		}
	}
	textarea {
		max-width: 100%;
		width: 100%;
		padding: 10px;
		height: $row-height * 2;
		border: 1px solid $border-color;
		background-color: $input-bg;
		margin-bottom: $row-height / 5;
		transition: background-color 0.5s ease;
		&:focus {
			transition: background-color 0.5s ease;
			background-color: $white;
		}
	}
}

.footer {
	color: $white;
	background-color: $color-teal;
	padding-top: $row-height * 2;
	padding-bottom: $row-height * 2;
	.logo {
		width: 250px;
		height: $header-height;
		background-image: url(#{$imgs}logo-white.png);
		background-size: 100%;
	}
	.copyright {
		margin-top: $row-height / 2;
		color: $text-muted;
		span {
			color: $white;
		}
	}
	.creator {
		margin-top: $row-height / 10;
		color: $text-muted;
		a {
			font-weight: 700;
			color: inherit;
			@-webkit-keyframes colours {
				0% {color: inherit;}
				25% {color: #673AB7;}
				50% {color: #FFC107;}
				75% {color: #03A9F4;}
				100% {color: inherit;}
			}
			@-moz-keyframes colours {
				0% {color: inherit;}
				25% {color: #673AB7;}
				50% {color: #FFC107;}
				75% {color: #03A9F4;}
				100% {color: inherit;}
			}
			&:hover {
				-webkit-animation-direction: normal;
				-webkit-animation-duration: 5s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-name: colours;
				-webkit-animation-timing-function: ease;
				-moz-animation-direction: normal;
				-moz-animation-duration: 5s;
				-moz-animation-iteration-count: infinite;
				-moz-animation-name: colours;
				-moz-animation-timing-function: ease;
			}
		}
	}
	nav {
		margin-top: $row-height / 2;
		line-height: 1;
		text-align: left;
		ul {
			li {
				margin-left: 0;
				margin-right: 20px;
			}
		}
	}

	.socials {
		height: 55px;
	}

	.facebook {
		margin-top: $row-height / 2;
		width: 30px;
		height: 30px;
		float: left;
		svg {
			height: 100%;
			width: 100%;
			fill: $text-muted;
			transition: fill .33s ease;
			&:hover {
				fill: $white;
				transition: all .33s ease;
			}
		}
	}
	.twitter {
		margin-top: $row-height / 2;
		width: 30px;
		height: 30px;
		float: left;
		margin-left: 10px;
		svg {
			height: 100%;
			width: 100%;
			fill: $text-muted;
			transition: fill .33s ease;
			&:hover {
				fill: $white;
				transition: all .33s ease;
			}
		}
	}
}

//-------------- Cookies Page -----------------------//
.cookies {
	color: $black;
	margin-bottom: $row-height * 2;
	.logo {
		background-image: url(#{$imgs}logo-black.png);
	}
	h2 {
		text-align: left;
		margin-top: 56px;
	}

	h3 {
		margin-top: 30px;
		color: rgba(0,0,0,0.44);
		font-size: 28px;
	}
	.italic {
		font-style: italic;
		margin-top: 29px;
	}
	.content {
		width: 700px;
		//margin: 0 auto;
		font-size: 21px;
		font-family: Georgia, Cambria,"Times New Roman",Times,serif;
		p {
			font-family: inherit;
			line-height: 1.58;
			letter-spacing: -0.003em;
			margin-top: 29px;
		}
		ul {
			font-family: inherit;
			list-style: disc inside none;
			li {
				font-family: inherit;
				line-height: 1.58;
				letter-spacing: -0.003em;
			}
		}
	}
	nav {
		ul {
			li {
				a {
					color: $black;
					&:hover {
						border-bottom: 2px solid $black;
					}
				}
			}
		}
	}
}

.fb-like {
	margin-top: $row-height / 2;
}